

.searchResultContainer{
   background-color: white;
      position: absolute;
      z-index: 20;
      margin-left: auto;
      width: 100%;
      height: calc(100% - 60px);
      max-height: 100vh;
      padding :7px;
      border-radius: 5px;
      overflow: hidden;
      
}
.searchResult{
   background-color: rgb(226, 223, 223);
   cursor: pointer;

}
.searchResults{
  background-color: #99998f;
  width: 40%;
  height:100%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  Position:relative ;

  
}

/* Hide scrollbar for Chrome, Safari and Opera */
.searchResults::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.searchResults {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.postSearchContainer{
  float: right;
  width: 55%;
  height: auto;
  margin-right: 15px;
}

.spinner {
 
  height: 200px;
  width: 200px;
  position: absolute;
 top: 50%;
 left: 50%;
 margin: -35px 0 0 -35px;
}
.spinnerContainer{
  position: relative;
 margin :auto;
 width : 50%;
  float: center;
  height: 80px;
  padding-top: 20px;
}